<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
		</style>
	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<section style="margin: 0 15px;color:#425b76;padding: 5px 0px 15px 0px;">
				<h2 style="margin: 40px 0 27px 0;text-align: center;">ممنون از ثبت‌نام شما</h2>
				<hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
				<center>
				<p style="font-size:15.5px;font-weight: bold;">سلام {{username}}
					<br/>
					حساب کاربری شما با موفقیت ساخته شد!</p>
				</center>
			</section>
		</div>
	</body>
</html>