{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

 <div class="content-section col-md-8 col-md-offset-2" dir="rtl" style="border: 1px solid black; margin-top:4%; margin-bottom:4%; padding:4% 10% 2% 10%; border-radius:1%;">
  <center>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
   <center>
    <button style="background: black; font-size: 2rem; padding:1%; color: white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; ورود</button>
  </center>
  <br/>
  <sub style="text-align: right;"><a href="{% url 'register' %}" style="font-size:150%;text-decoration: none; color: blue; padding:2%; cursor:pointer;">حساب کاربری ندارم</a></sub>
  </form>
</center>
 </div>
{% endblock start %}