{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block start %}


<div class="content-section col-md-8 col-md-offset-2" dir="rtl" style="border: 1px solid black; margin-top:4%; margin-bottom:4%; padding:4% 10% 2% 10%; border-radius:1%;">

    <h2 class="font-weight-bold mt-3">لینک فرستاده شد</h2>
		<hr>
		<p dir="rtl">در صورتی که پروفایلی با ایمیل وارد شده وجود داشته باشد، اقدامات لازم برای تغییر رمز عبور به آن آدرس ایمیل فرستاده شده است.
            باید به زودی آن را دریافت کنید.
             <br>
           اگر ایمیلی دریافت نکردید، اطمینان حاصل کنید که ایمیل را درست وارد کردید و پوشه اسپم را نیز چک کنید.
        </p>


 </div>
{% endblock start %}