
{% extends 'home/index.html' %}
{% load crispy_forms_tags %}

{% block start %}


<div class="content-section col-md-8 col-md-offset-2" dir="rtl" style="border: 1px solid black; margin-top:4%; margin-bottom:4%; padding:4% 10% 2% 10%; border-radius:1%;">

    
    <h2 dir="'rtl"> رمز عبور با موفقیت تغییر کرد. لطفا با رمز جدید وارد شوید. </h2>
    <hr>
    <center>
    <a href='/login' style="background: black; font-size: 2rem; padding:1%; color: white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; ورود</a>
    </center>

 </div>



{% endblock start%}