{% extends 'home/index.html' %}
{% load crispy_forms_tags %}

{% block start %}

  <!-- {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">تغییر رمز عبور</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %} -->


  <div class="content-section col-md-8 col-md-offset-2" dir="rtl" style="border: 1px solid black; margin-top:4%; margin-bottom:4%; padding:4% 10% 2% 10%; border-radius:1%;">
    {% if validlink %}
    <p> رمز عبور جدید خود را در فرم زیر وارد کرده و آن را تکرار کنید.</p>
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form.as_p }}
      </fieldset>
     <center>
      <button style="background: black; font-size: 2rem; padding:1%; color: white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-edit"></span> &nbsp; تغییر رمز عبور</button>
    </center>
    </form>
    {% else %}
    <p>
        لینک نامعتبر است، احتمالاً قبلا استفاده شده است. لطفا دوباره درخواست تغییر رمز عبور بدهید.
      </p>
    {% endif %}
 
   </div>

{% endblock start %}