{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block start %}




<div class="content-section col-md-8 col-md-offset-2" dir="rtl" style="border: 1px solid black; margin-top:4%; margin-bottom:4%; padding:4% 10% 2% 10%; border-radius:1%;">
  <center>
  <p>لطفاً ایمیل مربوط به حساب کاربری‌تان را وارد کنید تا لینک مروبط به تغییر رمز عبور برایتان ارسال شود.</p>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
   <center>
    <button style="background: black; font-size: 2rem; padding:1%; color: white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-send"></span> &nbsp; ارسال لینک به ایمیل</button>
  </center>
  </form>
</center>
 </div>
{% endblock start %}