{% extends "home/index.html" %}
{% block start %}

{{location.media}}

<div class="w3-container" style="padding:12px 16px" id="team" dir="rtl">
    <!-- <h3 class="w3-center">پیشنهاد‌های شما</h3> -->
    <p class="w3-center w3-large"></p>
    <div class="w3-row-padding" style="margin-top:64px;">
    <!-- <div style="width: 100%; display: table;"> -->
    <div style="display: flex;">
        <!-- style="position:absolute;top:0;right:0;" -->
        <div class="w3-col l4 m6 w3-margin-bottom" style="flex-grow: 1;">
            <div class="w3-card">
                <div style="position: relative;text-align: center;">
                  {% if user.is_authenticated %}
                    {% if myuser_toshow.is_provider %}
                    {% if is_fav %}
                    <a href="{% url 'fav_provider' user_toshow.id %}" id="fav-profile" style="position:absolute; top:8px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star"></span></a>
                    {% else %}
                    <a href="{% url 'fav_provider' user_toshow.id %}" id="notfav-profile" style="position:absolute; top:8px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star-empty"></span></a>
                    {% endif %}
                    {% endif %}
                  {% endif %}
                  <img src="{{myuser_toshow.pic_link}}" alt="{{x.title}}" style="width:100%">
                </div>
                <div class="w3-container">
                              
                {% if myuser_toshow.is_provider %}
                <h1 >{{ myuser_toshow.orgname }}</h1>
                {% else %}
                <h1 >{{ user_toshow.username }}</h1>
                {% endif %}
                
                <!-- <p class="w3-opacity">{{ myuser. }}</p> -->
                
                </div>
            </div>
        </div>
        <div class="w3-col l4 m6 w3-margin-bottom" style="width: 90%; margin-right: 15px; margin-top:20px;">
            <div class="card">
                <div class="w3-row" style="display: flex;">
                  <div  style="flex-grow:1;">
                    <h6 style="align-items:center;">نوع کاربری: </h6>
                  </div>
                  <div  style="width: 80%;">       
                    {% if myuser_toshow.is_provider %}
                    <h6 style="align-items:center;">سرویس دهنده</h6>
                    {% else %}
                    <h6 style="align-items:center;">کاربر عادی</h6>
                    {% endif %}
                  </div>
                </div>
                <hr>
                {% if myuser_toshow.is_provider %}
                <div class="w3-row" style="display: flex;">
                  <div  style="flex-grow:1;">
                    <h6 style="align-items:center;">آدرس: </h6>
                  </div>
                  <div  style="width: 80%;">
                    <h6 style="align-items:center;">{{myuser_toshow.address}}</h6>
                  </div>
                </div>
                <hr>

                <div class="w3-row" style="display: flex;">
                  <div  style="flex-grow:1;">
                    <h6 style="align-items:center;"> شماره تماس: </h6>
                  </div>
                  <div  style="width: 80%;">
                    <h6 style="align-items:center;">{{myuser_toshow.phone_no}}</h6>
                  </div>
              </div>
              <hr>

                {% endif %}
                
                {% if not myuser_toshow.is_provider%}
                {%if user.username == myuser.username%}
                <div class="w3-row" style="display: flex;">
                    <div  style="flex-grow:1;">
                      <h6 style="align-items:center;"> شماره تماس: </h6>
                    </div>
                    <div  style="width: 80%;">
                      <h6 style="align-items:center;">{{myuser_toshow.phone_no}}</h6>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endif %}
                {% if myuser_toshow.is_provider %}
                <div class="w3-row" style="display: flex;">
                    <div  style="flex-grow:1;">
                      <h6 style="align-items:center;">توضیحات:</h6>
                    </div>
                    <div  style="width: 80%;">
                      <h6 style="align-items:center;">{{myuser_toshow.description}}</h6>
                    </div>
                </div>
                <hr>
                {% endif %}


                {% if fav_providers.all %}
                <div class="w3-row" style="display: flex;">
                  <div  style="flex-grow:1;">
                    <h6 style="align-items:center;">سرویس‌دهنده‌های مورد علاقه:</h6>
                  </div>
                  <div  style="width: 80%;">
                    <h6 style="align-items:center;">
                    {% for x in fav_providers %}
                    <a href="{% url 'view_profile' x.username %}">{{x.orgname}}</a>  &nbsp;
                    {% endfor %}
                    </h6>
                  </div>
                </div>
                {% endif %}
        
                <!-- <div class="w3-row">
                  <div class="col-sm-12">
                    <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                  </div>
                </div> -->
              </div>
        
        
        </div>
    </div>

      {{location}}

    <!-- </div> -->
    {% if fav_offers.all %}
    <div class="w3-row-padding" style="margin-top:64px;">
    <h3 class="w3-center"> پیشنهاد های مورد علاقه</h3>
    <center>
    {% for x in fav_offers %}
  <div class="w3-col m6 w3-margin-bottom" dir = 'rtl' style="margin-right:10px; width:24.125%;">
    <div class="w3-card">
      <div style="position: relative;text-align: center;">
        {% if user.is_authenticated %}
          {% if x.fav %}
          <a href="{% url 'fav_offer' x.id %}" id="fav-{{x.id}}" style="position:absolute; top:8px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star"></span></a>
          {% else %}
          <a href="{% url 'fav_offer' x.id %}" id="notfav-{{x.id}}" style="position:absolute; top:8px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star-empty"></span></a>
          {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
          {% if x.username == myuser.username %}
          <a href="{% url 'edit_offer' x.id %}" id="edit-offer-{{x.id}}" style="position:absolute; top:28px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:rgb(0, 0, 0)"><span class="glyphicon glyphicon-edit"></span></a>
          {% else %} 
          <!-- <a href="{% url 'fav_offer' x.id %}" id="notfav-{{x.id}}" style="position:absolute; top:48px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star-empty"></span></a> -->
          {% endif %}
        {% endif %}
        <img src="{{x.pic_link}}" alt="{{x.title}}" style="width:100%">
      </div>
      <div class="w3-container">
        <h3>{{ x.title }}</h3> 
        <p class="w3-opacity"><a href="/profile/{{x.username}}">{{ x.orgname }}</a></p>
        {% if x.description == "" or x.description == None %}
          <p > hi, hello </p>
        {% else %}
          <p >{{x.description}}</p>
        {% endif %}
        <p>از {{x.start_date}}, {{x.start_time}}</p>
        <p>تا {{x.end_date}}, {{x.end_time}}</p>
        <p>قیمت اصلی: {{x.price}}</p>
        <p>تخفیف: {{x.discount}} درصد</p>
        <p>دسته: {{x.category}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  </center>
    </div>
    {% endif %}

    
    {% if myuser_toshow.is_provider %}
    <div class="w3-row-padding" style="margin-top:64px;">
    <h3 class="w3-center"> پیشنهاد های ویژه</h3>
    <center>
    {% for x in myoffers %}
  <div class="w3-col m6 w3-margin-bottom" dir = 'rtl' style="margin-right:10px; width:24.125%;">
    <div class="w3-card">
      <div style="position: relative;text-align: center;">
        {% if user.is_authenticated %}
          {% if x.fav %}
          <a href="{% url 'fav_offer' x.id %}" id="fav-{{x.id}}" style="position:absolute; top:8px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star"></span></a>
          {% else %}
          <a href="{% url 'fav_offer' x.id %}" id="notfav-{{x.id}}" style="position:absolute; top:8px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star-empty"></span></a>
          {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
          {% if x.username == myuser.username %}
          <a href="{% url 'edit_offer' x.id %}" id="edit-offer-{{x.id}}" style="position:absolute; top:28px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:rgb(0, 0, 0)"><span class="glyphicon glyphicon-edit"></span></a>
          {% else %} 
          <!-- <a href="{% url 'fav_offer' x.id %}" id="notfav-{{x.id}}" style="position:absolute; top:48px; left:8px;font-size: 20px;text-shadow:2px 2px 5px black;color:yellow"><span class="glyphicon glyphicon-star-empty"></span></a> -->
          {% endif %}
        {% endif %}
        <img src="{{x.pic_link}}" alt="{{x.title}}" style="width:100%">
      </div>
      <div class="w3-container">
        <h3>{{ x.title }}</h3> 
        <p class="w3-opacity"><a href="/profile/{{x.username}}">{{ x.orgname }}</a></p>
        {% if x.description == "" or x.description == None %}
          <p style="color:#F1F1F1">  . </p>
        {% else %}
          <p>{{x.description| truncatechars:30}}</p>
        {% endif %}
        <p>از {{x.start_date}}, {{x.start_time}}</p>
        <p>تا {{x.end_date}}, {{x.end_time}}</p>
        <p>قیمت اصلی: {{x.price}}</p>
        <p>تخفیف: {{x.discount}} درصد</p>
        <p>دسته: {{x.category}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  </center>
    </div>
    {% endif %}
    </div>
</div>
{% endblock start %}

