{% extends "home/index.html" %}
{% load crispy_forms_tags %}






{% block start %}
{{form_user.media}}
{{form_provider.media}}

<style>

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 46px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #19a232;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #19a232;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }
  
  .ut_column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .ut_row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  .x1 {
    color:red;
  }

</style>

<script>
  function ut_change() {
    var checkBox = document.getElementById("ut_checkbox");
    var form_user = document.getElementById("form_user");
    var form_provider = document.getElementById("form_provider");
    if (checkBox.checked == false){
      form_user.style.display = "none";
      form_provider.style.display = "block";
    } else {
      form_user.style.display = "block";
      form_provider.style.display = "none";
    }
  }
  </script>

<div class="content-section col-md-8 col-md-offset-2" dir="rtl" style="border: 1px solid black; margin-top:4%; margin-bottom:4%; padding:4% 10% 2% 10%; border-radius:1%;">
  <center>
    <p style="margin:0px 0px 20px 0px;"><b>
    نوع حساب خود را انتخاب کنید</b>
  </p>
    <div class="ut_row" style="width:70%;">
      <div class="ut_column" style="color:#2196F3">سرویس‌دهنده</div>

      <div class="ut_column">
        <label class="switch">
          <input type="checkbox" id="ut_checkbox" onclick="ut_change()">
          <span class="slider"></span>
        </label>
      </div>

      <div class="ut_column" style="color:#19a232;">کاربر عادی</div>
    </div>
    
  </center>


  <form method="POST" style="display:none;" id="form_user">
    {% csrf_token %}

    <fieldset class="form-group">
      {{form_user|crispy}}
    </fieldset>

    <center>
      <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; ثبت‌نام</button>
    </center>
    <br />
    <center>
      <sub><a href="{% url "login" %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;font-size: 150%;">حساب کاربری دارم</a></sub>
    </center>
  </form>

  <form method="POST" style="display:block;" id="form_provider">
    {% csrf_token %}

    <fieldset class="form-group">
      {{form_provider|crispy}}
    </fieldset>

    <center>
      <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; ثبت‌نام</button>
    </center>
    <br />
    <center>
      <sub><a href="{% url "login" %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;font-size: 150%;">حساب کاربری دارم</a></sub>
    </center>
  </form>

</div>
{% endblock start %}