{% extends "home/index.html" %}
{% block start %}
<div class="w3-container w3-light-grey" style="padding:12px 16px; margin-top:50px;" id="team" dir="rtl">
{% for x in myoffers %}
  <div class="w3-col l3 m6 w3-margin-bottom" dir = 'rtl' style="margin-right:10px;">
    <div class="w3-card">
      <img src="https://www.citypng.com/public/uploads/preview/warranty-ribbon-blue-icon-logo-sign-label-badge-png-11635941164yp8i70hmcb.png" alt="{{x.title}}" style="width:100%">
      <div class="w3-container">
        <h3 >{{ x.title }}</h3>
        
        <p class="w3-opacity"><a href="/profile/{{x.username}}">{{ x.orgname }}</a></p>
        <p>{{ x.description }}</p>
        <p>از {{x.start_date}}, {{x.start_time}}</p>
        <p>تا {{x.end_date}}, {{x.end_time}}</p>
        <p>قیمت اصلی: {{x.price}}</p>
        <p>تخفیف: {{x.discount}} درصد</p>
      </div>
    </div>
  </div>
{% empty %}
<center><h1>نتیجه‌ای پیدا نشد</h1></center>
{% endfor %}
</div>
{% endblock start %}

